*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-weight: normal;
    scroll-behavior: smooth;
 }

 h1,h2,h3,p{
   margin:10px;
   color: white;
}

a{
   color: rgb(57, 185, 101);
}

 .header img{
    width: 160px;
    height: 140px;
    border-radius: 100%;
    position:absolute;
    right: 95px;
    top: 20px;
    border: 5px  solid white;
 }

 .Resume{
    width: 80%;
    margin: 0px auto;
    background: rgb(77, 92, 90) url(../Images/2.jpg);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    border-radius: 15px;
 }

 .header{
    position:relative;
    height: 230px;
    background:transparent;
 }

 .header .text{
    position:absolute;
    top: 55px;
    right: 255px;
 }

 .menu{
    position:relative;
    text-align: left;
    padding-top: 60px;
 }
 
 .menu h2{
    padding-left: 25px;
 }

 .menu ul{
    display: inline-block;
    list-style: none;
 }

 .menu ul li{
    text-align: left;
    padding: 5px;
 }

 .mainContent{
    display: flex;
    flex-wrap: wrap;
 }

 .leftArea{
    width: 30%;
    background-color: rgb(60, 75, 73);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    border-radius: 10px;
 }

 .rightArea{
    width: 70%;
    background: transparent;
 }

 .education{
   margin-top: 35px;
   margin-left: 120px;
   margin-bottom: 100px;

 }

.education p{
   font-size: small;
}

 .experience{
   margin-top: 15px;
   margin-left: 120px;
   margin-bottom: 100px;

 }
 
 .experience ul{
   font-size: small;
 }

 ul{
   margin-left: 30px;
   color: white;
 }

 .skills{
   margin-top: 35px;
   margin-left: 20px;
 }

 #languages, #courses, #contactDetails{
   margin-top: 59px;
 }

 .leftArea p{
   font-size: small;
 }

.top{
   width: 30px;
   height: 30px;
   position: sticky;
   top: 500px;
}

img.top{
    cursor: pointer;
}


img.top:hover{
    transform: scale(1.25);
    transition: 0.3s;
}


.CD p{
    color: rgb(255, 255, 255);
}

.education h4{
   margin-left: 10px;
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.experience h4{
    color: rgb(0, 168, 0);
    margin-left: 10px;
    font-weight: bold;
}

.Icons{
    padding-left: 20px;
    transform: scale(1.1);
}

.Icons a{
    padding-right: 25px;

}

label{
    color: white;
    display: block;
    width: 150px;
    text-align: left;
}


input{
    width: 159px;
}

form{
    padding: 10px;
}

span{
    color: #ff0818;
}


.header img{
    cursor: pointer;
}


.header img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}


  


  
   


   

